@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background: var(--neutral-very-dark, #131518);
}
