:root {
  --white-color: hsl(0, 0%, 100%);
  --neutral-light: hsl(217, 12%, 63%);
  --neutral-medium: hsl(216, 12%, 54%);
  --neutral-dark: hsl(213, 19%, 18%);
  --neutral-very-dark: hsl(216, 12%, 8%);
  --primary-color: hsl(25, 97%, 53%);
}

:root {
  ----gradient-color: radial-gradient(
    circle at top,
    hsla(0, 0%, 100%, 0.05) 0%,
    transparent 80%
  );
}

:root {
  --body-font: "Overpass", sans-serif;
	--fontSize-title: 2.4rem:
	--fontSize-body: 1.4rem:
	--font-regular: 400;
  --font-bold: 700;
}

:root{
	--radius-pill: 100px;
	--radius-circle: 50%;
	--transition: 100ms ease;
}